<div class="list-group project-list">
	<%@projects.each do |project|%>
		<a href="<%=project_entries_path(project)%>" class="list-group-item"><span class="proj-name"><%=project.name%></span></a>
	<%end%>
</div>




