<h1>Projects</h1>

<h2>Your projects:</h2>

<ul>
	<%@projects.each do |project|%>
		<li><%=project.name%>
			<%if(project.description.present?)%>
				: <%=project.description%>
			<%end%>
		</li>
	<%end%>
</ul>



